.design-code {
  background: {
    image: url("../img/design.png");
    repeat: no-repeat;
    position: top center;
    size: cover;
  }
  @media (max-width: 1200px) {
    .container {
      display: flex;
      flex-direction: column;
    }
  }
}

.best-design-code {
  color: #ffffff;
  width: 550px;
  h2 {
    width: 237px;
    height: 42px;
    line-height: 36px;
    font: {
      family: "Proxima Nova", sans-serif;
      size: 48px;
      weight: 300;
    }
    strong {
      font-weight: 800;
    }
  }
  span {
    line-height: 30px;
    margin-bottom: 41px;
    font: {
      family: "Proxima Nova", sans-serif;
      size: 18px;
      weight: 300;
    }
  }
  @media (max-width: 1200px) {
    margin-top: 40px;
  }
}

.what-we-do {
  h2 {
    color: #000000;
    line-height: 36px;
    font: {
      family: "Proxima Nova", sans-serif;
      size: 48px;
      weight: 700;
    }
  }
  .link {
    margin-top: 111px;
  }
}

.services {
  h3 {
    color: #000000;
    line-height: 36px;
    font: {
      family: "Proxima Nova", sans-serif;
      size: 30px;
      weight: 700;
    }
  }
  li {
    width: 576px;
    height: 127px;
    @media (max-width: 1200px) {
      margin-top: 50px;
    }
  }
  span {
    color: #949494;
    line-height: 30px;
    font: {
      family: "Proxima Nova", sans-serif;
      size: 18px;
      weight: 300;
    }
  }
  .text {
    max-width: 430px;
    margin-left: 30px;
  }
  display: flex;
  flex-direction: row;
  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}

.about-us {
  background: {
    image: url("../img/bgrnd-aboutus.png");
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  h2 {
    color: #ffffff;
    line-height: 36px;
    font: {
      family: "Proxima Nova", sans-serif;
      size: 48px;
      weight: 700;
    }
  }

  h3 {
    max-width: 700px;
    color: #949494;
    line-height: 30px;
    margin: 38px auto 132px;
    font: {
      family: "Proxima Nova", sans-serif;
      size: 18px;
      weight: 300;
    }
  }

  h4 {
    color: #ffffff;
    line-height: 36px;
    margin: 30px 0;
    font: {
      family: Roboto, serif;
      size: 24px;
      weight: 700;
    }
  }

  span {
    color: #949494;
    line-height: 30px;
    font: {
      family: "Proxima Nova", sans-serif;
      size: 18px;
      weight: 300;
    }
  }
}

.personal {
  flex-wrap: wrap;
  li {
    width: 100%;
  }
}

.map {
  background: {
    image: url("../img/map.png");
    position: center;
    size: cover;
  }
  height: 600px;
}

.drone-zone, .monthly, .fit-app {
  background: {
    repeat: no-repeat;
    position: center;
    size: cover;
  }
  flex: 1;
  height: 481px;
  &:hover {
    .info {
      display: block;
      transition: 0.5s;
      cursor: pointer;
    }
  }
}

.drone-zone {
  background-image: url("../img/Layer_12");
}

.monthly {
  background-image: url("../img/template.png");
}

.fit-app {
  background-image: url("../img/green.png");
}

.notebook, .web-app, .painting, .desktop-apps {
  width: 136px;
  height: 102px;
  background: {
    repeat: no-repeat;
    position: center;
  }
}

.notebook {
  background-image: url("../img/notebook");
}

.web-app {
  background-image: url("../img/web-applications.png");
}

.painting {
  background-image: url("../img/painting");
}

.desktop-apps {
  background-image: url("../img/desctop-app");
}

.info {
  width: 387px;
  margin: 0 auto;
  color: #ffffff;
  display: none;
  h2 {
    line-height: 36px;
    font: {
      family: "Proxima Nova", sans-serif;
      size: 30px;
      weight: 700;
    }
  }
}
