.about-us {
  padding: 116px 0;
  .link {
    margin-top: 111px;
  }
}

.design-code {
  padding: 170px 0;
}

.best-design-code {
  max-width: 570px;
  .link {
    margin-top: 41px;
  }
}

.what-we-do {
  padding: 104px 0;
}

.personal li {
  max-width: 220px;
}

.services {
  margin-top: 112px;
}

.scroll {
  margin-top: 14px;
}