.panels-flexible-1 .panels-flexible-region {
  padding: 0;
}

.panels-flexible-1 .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-1 .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-1 .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-1 .container {
  padding: 0;
}

.panels-flexible-1 .container-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-1 .container-inside-first {
  padding-left: 0;
}

.panels-flexible-1 .container-inside-last {
  padding-right: 0;
}

.panels-flexible-1 .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-1 .panels-flexible-row-last {
  padding-bottom: 0;
}

.container-1-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-1-inside {
  padding-right: 0px;
}

.panels-flexible-1 {
  width: auto;
}

.panels-flexible-region-1-choose_your_industry {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-1-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-1-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-steps {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-1-3-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-testimonials {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-1-4-inside {
  padding-right: 0px;
}

