h1 {
  color: #000000;
  line-height: 36px;
  margin-top: 220px;
  font: {
    family: "Proxima Nova", sans-serif;
    size: 48px;
    weight: 700;
  }
}

header {
  padding: 55px 0 255px;

  h2 {
    color: #949494;
    line-height: 30px;
    margin-bottom: 64px;
    font: {
      family: "Proxima Nova", sans-serif;
      size: 18px;
      weight: 400;
    }
  }
  background: {
    image: url("../img/bgrnd1.png");
    repeat: no-repeat;
    position: center;
    size: cover;
    color: #000000;
  }
  nav div ul li {
    a {
      color: #000000;
      line-height: 24px;
      font: {
        family: "Proxima Nova", sans-serif;
        size: 18px;
        weight: 400;
      }
    }
    :hover{
      border-radius: 18px;
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
  span {
    color: #ffffff;
    font: {
      family: "Proxima Nova", sans-serif;
      size: 14px;
      weight: 300;
    }
    line-height: 18px;
    display: block;
    text-align: center;
  }
}

.mouse {
  background-image: url("../img/mouse.png");
  width: 25px;
  height: 43px;
  margin: 419px auto 0;
}

.scroll {
  color: #ffffff;
  line-height: 18px;
  font: {
    family: "Proxima Nova", sans-serif;
    size: 14px;
    weight: 300;
  }
}