h1 {
  color: #000000;
  font-family: "Proxima Nova", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 220px;
}

header {
  padding: 55px 0 255px;

  h2 {
    color: #949494;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 64px;
  }
  background: {
    image: url("../img/bgrnd1.png");
    repeat: no-repeat;
    position: center;
    size: cover;
    color: black;
  }
  nav div ul li {
    a {
      color: #000000;
      font-family: "Proxima Nova", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
    }
    :hover{
      border-radius: 18px;
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
  span {
    color: #ffffff;
    font: {
      family: "Proxima Nova", sans-serif;
      size: 14px;
      weight: 300;
    }
    line-height: 18px;
    display: block;
    text-align: center;
  }
}

.mouse {
  background-image: url("../img/mouse.png");
  width: 25px;
  height: 43px;
  margin: 419px auto 0;
}

.scroll {
  color: #ffffff;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}