body {
  background: #76b852;
}

label {
  display: block;
}

.container {
  margin-bottom: 5vh;
}

.input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
}

.textarea {
  height: 50vh;
  text-align: start;
  resize: none;
}

.post {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2vh;
  margin-top: 2vh;
  overflow-x: hidden;
  h3 {
    text-align: start;
  }

  p {
    text-align: start;
  }
}

.login-page {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 90%;
  margin: 7vh auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  h1, h2 {
    margin: 2vh 0 5vh;
    font-size: 8vh;
  }
}

.submit {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 30vh;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  :hover,.form button:active,.form button:focus {
    background: #43A047;
  }

}

.login {
  width: 90vh;
}

.links {

  margin-top: 3vh;

  a {
    margin-top: 1vh;
  }
}

.echo {
  margin: 2vh;
}